body{
    margin: 0;
    padding: 0;
    
}
.nav .right {
    display: flex;

}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
    background-color: aqua;
    

} 
.right p{
    margin: 30px;
}
h2{
    margin-left: 20px;
}